.h1{
      
  background-color:white;
  border:solid;
   }

   .note{
     background-color: red;
     border: dotted;
   }

.grid {
  background: rgb(140, 152, 252);
  background-color: #F0F8FF;
  display: flex;
  justify-content: last baseline;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.camel {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 500px;
  padding: 50px;
  background-color:#E8E5E4;
}


.chameleon {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 500px;
  padding: 50px;
  background-color:#E8E5E4;
}

.pigeon {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 500px;
  padding: 50px;
  background-color:#E8E5E4;
}



html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
